name: FunctionApp1 cicd

on:
  workflow_dispatch:
  push:
    branches:  
      - 'dev'
      - 'test'
      - 'main'
  pull_request:
    types: [opened, reopened]
    branches:  
      - 'dev'
      - 'test'
      - 'main'

jobs:
  build:
    uses: ./.github/workflows/template_ci.yml
    with:
      runs-on: windows-latest
      function-name: FunctionApp1
  deploydev:
    if: (github.ref == 'refs/heads/dev' && github.event_name == 'push')
    uses: ./.github/workflows/template_cd.yml
    with:
      runs-on: windows-latest
      env: DEV
      kvname: kvabdev
      function-name: FunctionApp1
    secrets: inherit
    needs: build
  deploytest:
    if: (github.ref == 'refs/heads/test' && github.event_name == 'push')
    uses: ./.github/workflows/template_cd.yml
    with:
      runs-on: windows-latest
      env: TEST
      kvname: kvabdev
      function-name: FunctionApp1
    secrets: inherit
    needs: build

  getKeyVaultSecrets:
    runs-on: windows-latest
    environment: PROD

    steps:
    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/get-keyvault-secrets@v1
      with: 
        keyvault: "kvabdev"
        secrets: 'FunctionApp1FuncAppName, FunctionApp1IntPublishProfile'
      id: kvSecret
    secrets: inherit
    needs: build 

    deployprod:
    if: (github.ref == 'refs/heads/main' && github.event_name == 'push')
    uses: ./.github/workflows/template_cd.yml
    with:
      runs-on: windows-latest
      env: PROD
      kvname: kvabdev
      function-name: FunctionApp1
      secretFuncAppName: ${{ steps.kvSecret.outputs.FunctionApp1FuncAppName }}
      secretFuncAppPubProf: ${{ steps.kvSecret.outputs.FunctionApp1IntPublishProfile }}
    secrets: inherit
    needs: getKeyVaultSecrets