name: template ci

on:
  workflow_call:
    inputs:
      runs-on:
        description: Platform to execute on
        type: string
        default: ubuntu-latest
      SOLUTION_FILE_PATH:
        description: solution file path
        type: string
        default: .
      function-name:
        description: function name
        type: string
        default: Function1
      
env:
  BUILD_CONFIGURATION: Release
  DOTNET_VERSION: '6.x.x' # The .NET SDK version to use
  REPO: "."
  FUNCTION_PATH: "./${{ inputs.function-name }}/"

jobs:
  build:
    runs-on: ${{ inputs.runs-on }}

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
      
    - name: Install dependencies
      run: dotnet restore ${{ env.REPO }}
      
    - name: Build
      run: dotnet build ${{ env.FUNCTION_PATH }} --configuration Release --no-restore
            
    - name: Publish
      run: dotnet publish ${{ env.FUNCTION_PATH }}
    
    - name: Display structure of downloaded files
      run: | 
        mkdir ~/artifact
        Compress-Archive -Path D:/a/dotnetapp/dotnetapp/${{ inputs.function-name }}/bin/Debug/net6.0/publish/* -DestinationPath ~/artifact/FunctionApp.zip
      
    - name: Upload Function Zip Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: FunctionZip
        path: ~/artifact